body
{
    background: rgb(0, 0, 0);
}
p{
    color: white;
}

header > div > img
{
    margin-left: 20px;
    width: 100px;
    

}
h1{
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 50px;
    bottom: 20px;

}
header > img
{

}