@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */
footer{
    background: black;
    }

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

ul.social-buttons {
  text-align: end;
  margin-top: 50px;
}

ul.social-buttons li {
  display: inline-block;
  margin: 0px 5px px 0px;
  
}

ul.social-buttons li a {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 30px;
  line-height: 60px;
  color: white;
  text-align: center;
}

ul.social-buttons li a.brandico-twitter-bird {
  background-color: #4099FF;
}

ul.social-buttons li a.brandico-facebook {
  background-color: #3B5998;
}

ul.social-buttons li a.brandico-instagram {
  background-color: #3f729b;
}

ul.social-buttons li a.brandico-vimeo {
  background-color: #4EBBFF;
}

ul.social-buttons li a.brandico-linkedin {
  background-color: #0e76a8;
}


 
ul#demo2 li a {
  transition: transform 0.5s ease-in-out;
}

ul#demo2 li:hover a {
  transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}

.lineU{
    color: blanchedalmond;
    background: dimgray;
    padding: 0%;
    margin: 0%;
    text-align: center;
    left: 0px;
}