
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');



body{
    background: url(CarsTodosOscuro.jpeg);
    background-size: 100vw 100vh;
    background-attachment: fixed;  
    
}



.nav-item a{   
    color: rgb(82, 72, 52);
    background: linear-gradient(to top, #232526, #414345) ;
    height: 10px ;
    padding: 0px ;    
    padding-bottom:30px ;    
    text-decoration: none;
    font-family:'Girassol',cursive;   
    
    text-align: center;
}

div ul li a:hover{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: darkorange;
    transition: 0.5s;
}



